
<!DOCTYPE html>
<html>
  <head>
    <title>United Heater</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&family=Manrope:wght@400;500;600;700;800&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,700&family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"/>
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://unitedheater.co.id/sites/default/files/new_logo.png"
    />
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    <link rel="icon" href="https://unitedheater.co.id/sites/default/files/new_logo.png" type="image/x-icon">
   
  </head>


  <div id="navbar-container"></div>
 
       <div class="tp-banner">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper" id="banner-container">
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
      </div>
    
<div class="tp-top-feat">
  <div class="tp-page-width">
    <div class="tp-top-feat-content">
      <div class="tp-top-feat-con" id="features-container">
       
      </div>
    </div>
  </div>
</div>



<div class="containers">
    <div class="best-selling-products">
        <h2> Produk Unggulan</h2>
        <div class="product-grid" id="product-grid">
       
        </div>
    </div>
</div>


<div class="article-wrap">
    <div class="article-container">
        <div class="article-header">
            <h3>Artikel</h3>
            <h2>Artikel Terbaru</h2>
        </div>
        <div class="article-grid" id="article-grid">
        </div>
    </div>
</div>


<a href=https://api.whatsapp.com/send?phone=628176565099&text=" class="whatsapp_float" target="_blank">
  <i class="fab fa-whatsapp"></i>
</a>
<a href="https://www.instagram.com/unitedheater/" class="instagram_float" target="_blank">
  <i class="fab fa-instagram"></i>
</a>
           
<div class="tp-portfolio">
  <div class="tp-container">
      <div class="tp-portfolio-title tp-title-con">
          <h3>KLIEN KAMI</h3>
  <h2>Berikut adalah beberapa klien luar biasa yang telah kami kerjakan sejauh ini.</h2>  
    </div>
      <div class="tp-portfolio-content" id="tp-portfolio-content">
      </div>
  </div>
</div>
  
    <div id="footer-container"></div>
  </body>
</html>