<div class="tp-navigation">
  <div class="tp-page-width">
    <div class="tp-nav-bar">
      
      <div class="tp-nav-logo">
        <a href="index.html">
          <img src="https://unitedheater.co.id/sites/default/files/new_logo.png" alt="Company Logo"   class="main-logo" id="mainLogo">
        </a>
         <span class="logo-sitename" id="logoName" >United Heater </span>
        </div>
        <div class="slogan" id="slogan">"We make your heating better"</div>
      </div>
      <body>
      <!-- Navigation Menu -->
      <div class="tp-nav-menu" id="navMenu">
        <ul>
          <li><a href="Home.html">Beranda</a></li>
          <li><a href="about-us.html">Tentang Kami</a></li>
          <li><a href="product.html">Produk </a></li>
          <li><a href="track_order.html">Lacak </a></li>
          <li><a href="articles.html">Artikel</a></li>
          <li><a href="career.html">Karir</a></li>
          </li>
       
          <li><a href="contact.html">kontak</a></li>
        </ul>
      </div>
    </div>

    <div class="hamburger" id="hamburger" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
  </div>

  <nav class="drawer" id="drawer">
    <ul class="drawer-menu">
      <li><a href="Home.html"><i class="fas fa-home"></i> Beranda</a></li>
      <li><a href="about-us.html"><i class="fas fa-info-circle"></i> Tentang Kami</a></li>
      <li><a href="product.html"><i class="fas fa-box-open"></i> Produk</a></li>
      <li><a href="track_order.html"><i class="fas fa-tracking"></i> Lacak</a></li>

      
      <li><a href="articles.html"><i class="fas fa-newspaper"></i> Artikel</a></li>
     
      <li><a href="career.html"><i class="fas fa-briefcase"></i> Karir</a></li>


   
      <li><a href="contact.html"><i class="fas fa-envelope"></i> kontak</a></li>
    

    </ul>
  </nav>
  
